## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List popular tools for Data Science
- Create a Jupyter Notebook
- Understand the basics of Python and R

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. scikit-learn
2. seaborn
3. matplotlib

| Data Science Tools |
| ------------------ |
| VS Code            |
| Jupyter Notebook   |
| RStudio            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author:
Eduardo